.App {
  text-align: center;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.home,
.search,
.pocket {
  font-size: 16pt;
  font-weight: bold;
  margin: 8px;
}

.news-icon {
  max-width: 60px;
}